<p id="notice"><%= notice %></p>

<p>
  <strong>Fin:</strong>
  <%= @patient.fin %>
</p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Room:</strong>
  <%= @patient.room %>
</p>

<p>
  <strong>Allergy:</strong>
  <%= @patient.allergy %>
</p>

<p>
  <strong>Age:</strong>
  <%= @patient.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @patient.gender %>
</p>

<p>
  <strong>Abw:</strong>
  <%= @patient.abw %>
</p>

<p>
  <strong>Crcl:</strong>
  <%= @patient.crcl %>
</p>

<p>
  <strong>Presciber:</strong>
  <%= @patient.presciber %>
</p>

<p>
  <strong>Rphname:</strong>
  <%= @patient.rphname %>
</p>

<p>
  <strong>Eddosegiven:</strong>
  <%= @patient.eddosegiven %>
</p>

<p>
  <strong>Orderdate:</strong>
  <%= @patient.orderdate %>
</p>

<p>
  <strong>Vancodose:</strong>
  <%= @patient.vancodose %>
</p>

<p>
  <strong>Appropriate:</strong>
  <%= @patient.appropriate %>
</p>

<p>
  <strong>Newvanco:</strong>
  <%= @patient.newvanco %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
